- if @sighting.errors.any?
	#errorExplanation
		%h2
			=pluralize(@sighting.errors.count, "error")
			prohibited this post from being saved:
		%ul
			- @sighting.errors.full_messages.each do |msg|
				%li= msg

= form_for @sighting do |f|
	%p
		= f.label :pest
		%br
		-#= f.text_field :pest
	%p
		= f.label :latitude
		%br
		= f.text_field :latitude
	%p
		= f.label :longitude
		%br
		= f.text_field :longitude
	%p
		= f.label :park
		%br
		-#= f.text_field :park
	%p
		= f.label :time_sighted
		%br
		= f.datetime_field :time_sighted
	%p
		= f.label :information
		%br
		= f.text_field :information
	
	%p
		= f.submit