- if @sighting.errors.any?
	.alert.alert-danger
		%h2
			=pluralize(@sighting.errors.count, "error")
			prohibited this post from being saved:
		%ul
			- @sighting.errors.full_messages.each do |msg|
				%li= msg

= semantic_form_for @sighting, :html => { :class => "form-horizontal" } do |f|
	= f.inputs do
		= f.input :pest, label: "Sighted Pest", :input_html => { :class => "chosen-select" }
		= f.input :park, label: "Park Location", :input_html => { :class => "chosen-select" }
		= f.input :quantity, label: "Pests Sighted", :input_html => { :class => "form-control" }
		= f.input :time_sighted, :input_html => { :class => "chosen-select" }
		= f.input :information, label: "Description", :input_html => { :class => "form-control" }
	= f.actions do
		.pull-right
			= f.action :cancel, :as => :link, :label => "Cancel", :button_html => { :class => "btn btn-default" }
			= f.action :submit, :as => :button, :label => "Submit", :button_html => { :class => "btn btn-success" }