.row
	.col-lg-2.visible-lg
		%ul.nav.nav-stacked.side-nav
			- (1..6).each do
				%li
					= link_to 'Filter', "#"

	.col-lg-10.col-md-12.isotope
		= link_to "Create New Sighting", new_sighting_path
		- @sightings.each do |sighting|
			.item
				= image_tag("temp-pest.jpg")
				%p
					Pest:
					= link_to sighting.pest.name, sighting_path(sighting)
				%p
					Pest Type:
					= sighting.pest.pest_type.name
				%p
					Quantity:
					- if !sighting.quantity.nil?
						= sighting.quantity
					- else
						= "Not specified"
				%p
					Location:
					= sighting.park.name
				%p
					Sighting Time:
					- if !sighting.time_sighted.nil?
						= sighting.time_sighted
					- else
						= "Not specified"
				%p
					Further Information:
					- if !sighting.information.empty?
						= sighting.information
					- else
						= "Not specified"
				%p
					Created By:
					= sighting.user.name
