.row
	.col-lg-2.visible-lg
		%ul.nav.nav-stacked.side-nav
			- (1..6).each do
				%li
					= link_to 'Filter', "#"

	.col-lg-10.col-md-12.isotope
		= link_to "Create New Sighting", new_sighting_path
		- @sightings.each do |sighting|
			.item
				= image_tag("temp-pest.jpg")
				%p
					Pest:
					= sighting.pest.name
				%p
					Pest Type:
					= sighting.pest.pest_type.name
				%p
					Quantity:
					= sighting.quantity
				%p
					Location:
					= sighting.park.name
				%p
					Sighting Time:
					= sighting.time_sighted
				%p
					Further Information:
					= sighting.information
				%p
					Created By:
					= sighting.user.name
