%h1 Create Sighting

- if @sighting.errors.any?
	#errorExplanation
		%h2
			=pluralize(@sighting.errors.count, "error")
			prohibited this post from being saved:
		%ul
			- @sighting.errors.full_messages.each do |msg|
				%li= msg


= semantic_form_for @sighting do |f|
	= f.inputs
	= f.actions do
		= f.action :submit, :as => :button, :label => "Submit"
		= f.action :cancel, :as => :link, :label => "Go Back"