.row
	.col-xs-10.col-xs-offset-1
		%header
			%h2 Sign Up
		%hr

		= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
			= devise_error_messages!
			= f.inputs do
				= f.input :username, input_html: { :class => "form-control"}, required: "required"
				= f.input :name, input_html: { :class => "form-control"}, required: "required"
				= f.input :email, input_html: { :class => "form-control"}, required: "required"
				= f.input :password, input_html: { :class => "form-control"}, required: "required"
			= f.actions do
				.pull-right
					= f.action :submit, label: "Sign up", button_html: { :class => "btn btn-success"}