.center.col-lg-10.col-lg-offset-1

	= image_tag("logo-large.png", :id => "logo")

	%p.title-1 Trace is a collection of pests and their sightings throughout New South Wales national parks.

	%p.title-2 You submit sightings of pests to help us keep your national parks safe.

	%button.btn.btn-primary.btn-lg{"data-toggle" => "modal", href: "#myModal"} Get Started

	= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
		#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
			.modal-dialog
				.tab-content.modal-content
					.modal-header
						%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
						%ul.nav.nav-tabs
							%li.active
								= link_to ".signin", "data-toggle" => "tab" do
									%h4.modal-title Sign In
							%li
								= link_to ".signup", "data-toggle" => "tab" do
									%h4.modal-title Sign Up
					.signin.tab-pane.active.modal-body
						.form-group
							= f.label :email, :class => "col-lg-2 col-lg-offset-1 control-label"
							.col-lg-8
								= f.email_field :email, :autofocus => true, :class => "form-control", :required => "required"
						.form-group
							= f.label :password, :class => "col-lg-2 col-lg-offset-1 control-label"
							.col-lg-8
								= f.password_field :password, :class => "form-control", :required => "required"
						- if devise_mapping.rememberable?
							.row
								.col-lg-6.col-lg-offset-3.text-left
									= f.check_box :remember_me
									= f.label :remember_me
							.row
								.col-lg-6.col-lg-offset-3.text-left
									=# render "devise/shared/links"
									- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
										= link_to "Forgot your password?", new_password_path(resource_name)
					.signin.tab-pane.active.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Sign in", :class => "button btn btn-primary"
					.signup.tab-pane.modal-body
						.form-group
							= f.label :email, :class => "col-lg-2 col-lg-offset-1 control-label"
							.col-lg-8
								= f.email_field :email, :autofocus => true, :class => "form-control", :required => "required"
						.form-group
							= f.label :password, :class => "col-lg-2 col-lg-offset-1 control-label"
							.col-lg-8
								= f.password_field :password, :class => "form-control", :required => "required"
						- if devise_mapping.rememberable?
							.row
								.col-lg-6.col-lg-offset-3.text-left
									= f.check_box :remember_me
									= f.label :remember_me
							.row
								.col-lg-6.col-lg-offset-3.text-left
									=# render "devise/shared/links"
									- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
										= link_to "Forgot your password?", new_password_path(resource_name)
					.signup.tab-pane.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
						= f.submit "Sign in", :class => "button btn btn-primary"