.isotope-header.clearfix
	.pull-left
		%h2 Recorded Pests
	.pull-right
		%select#pest-filter.chosen-select
			%option All
			- @types.each do |type|
				%option
					= type.name
		= link_to "Create New Pest", new_pest_path, :class => "btn btn-primary"
.isotope
	- @pests.each do |pest|
		= link_to pest_path(pest), :class => "col-md-3 type-" + pest.pest_type.name.downcase.squish.gsub( /\s/, '_' ) do
			.isotope-item-wrapper
				.image-wrapper{:style => "background: " + image_path("temp-pest.jpg")}
				.overlay
					%h3= pest.name
				.meta
					%p
						Pest type:
						= pest.pest_type.name
					%p
						Source:
						= pest.source.name
					%p
						Tracker ID:
						- if !pest.tracker_id.nil?
							= pest.tracker_id
						- else
							= "None"
					%p
						Size:
						= pest.size
					%p
						Colour:
						= pest.colour.name
					%p
						Markings:
						- if !pest.markings.empty?
							- pest.markings.each do |marking|
								= Marking.find(marking).name
						- else
							= "None"
					%p
						Characteristics:
						- if !pest.characteristics.nil?
							= pest.characteristics
						- else
							= "None"