.isotope-header.clearfix
	.pull-left
		%h2 Recorded Pests
	.pull-right
		%select#pest-filter.chosen-select
			%option All
			- @types.each do |type|
				%option
					= type.name
		= link_to "Create New Pest", new_pest_path, :class => "btn btn-primary"
%hr
.isotope
	- @pests.each do |pest|
		.col-md-3{ :class => " type-" + pest.pest_type.name.downcase.squish.gsub( /\s/, '_' ) }
			.isotope-item-wrapper
				.image
					.image-wrapper{:style => "background: " + image_path("temp-pest.jpg")}
					.overlay
						%h3= pest.name
				%table.meta.table.table-striped
					%tr
						%td Pest type
						%td= pest.pest_type.name
					%tr
						%td Source
						%td= pest.source.name
					%tr
						%td Tracker ID
						- if !pest.tracker_id.nil?
							%td= pest.tracker_id
						- else
							%td None
					%tr
						%td Size (cm)
						%td= pest.size
					%tr
						%td Colour
						%td= pest.colour.name
					%tr
						%td Markings
						- if !pest.markings.empty?
							- pest.markings.each do |marking|
								%td= Marking.find(marking).name
						- else
							%td None
					%tr
						%td Characteristics
						- if !pest.characteristics.nil?
							%td= pest.characteristics
						- else
							%td None
				.text-right.button-container
					= link_to "Edit", edit_pest_path(pest), :class => "btn btn-default"
					- if current_user.try(:admin?)
						= link_to "Delete", pest_path(pest), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }, :class => "btn btn-danger"