%h1 Create New Pest
= semantic_form_for @pest do |f|
	= f.inputs do
		= f.input :name
		= f.input :pest_type
		= f.input :size
		= f.input :colour
		= f.input :characteristics
	= f.actions do
		= f.action :submit, :as => :button, :label => "Submit"
		= f.action :cancel, :as => :link, :label => "Go Back"