%p
	Name:
	= @pest.name
%p
	Pest type:
	= @pest.pest_type.name
%p
	Source:
	= @pest.source.name
%p
	Size:
	= @pest.size
%p
	Colour:
	= @pest.colour.name
%p
	Markings:
	- @pest.markings.each do |marking|
		= marking.name
%p
	Characteristics:
	= @pest.characteristics

= link_to "Edit", edit_pest_path(@pest)
- if current_user.try(:admin?)
	= link_to "Delete", pest_path(@pest), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }
= link_to "Back", pests_path