= form_for @user do |f|
	.row.form-group
		= f.label :date_of_birth, class: "col-lg-2"
		.col-lg-10
		= f.date_select :date_of_birth, class: "form-control"
	%p
		= f.label :phone
		%br
		-#= f.text_field :phone
	%p
		= f.label :address
		%br
		-#= f.text_field :address
	%p
		= f.label :park
		%br
		-#= f.collection_select :park_id, Park.order(:name),:id
	%p
		= f.submit