.row
	.col-lg-2
		%ul.nav.nav-stacked.side-nav
			- (1..12).each do
				%li
					= link_to '#', "#"


	.col-lg-10
		- if @user.errors.any?
			#errorExplanation
				%h2
					=pluralize(@user.errors.count, "error")
					prohibited this post from being saved:
				%ul
					- @user.errors.full_messages.each do |msg|
						%li= msg

		= form_for @user do |f|
			.row.form-group
				= f.label :Username, class: "col-lg-2"
				.col-lg-10.input-group
					%span{:class => "input-group-addon"} @
					= f.text_field :username, class: "form-control"
			.row.form-group
				= f.label :Name, class: "col-lg-2"
				.col-lg-10
					= f.text_field :name, class: "form-control"
			.row.form-group
				= f.label :Email, class: "col-lg-2"
				.col-lg-10
					= f.text_field :email, class: "form-control"
			.row.form-group
				= f.label :Password, class: "col-lg-2"
				.col-lg-10
					= f.password_field :password, class: "form-control"
			= f.submit :Create, class: "btn pull-right"