- if @user.errors.any?
	.alert.alert-danger
		=pluralize(@user.errors.count, "error")
		prohibited this post from being saved:
		%ul
			- @user.errors.full_messages.each do |msg|
				%li= msg

= form_for @user, :html => { :class => "form-horizontal" } do |f|
	.form-group
		= f.label :username, :class => "col-lg-2 control-label"
		.col-lg-10.input-group
			%span{:class => "input-group-addon"} @
			= f.text_field :username, :class => "form-control", :required => "required"
	.form-group
		= f.label :name, :class => "col-lg-2 control-label"
		.col-lg-10
			= f.text_field :name, :class => "form-control", :required => "required"
	.form-group
		= f.label :email, :class => "col-lg-2 control-label"
		.col-lg-10
			= f.text_field :email, :class => "form-control", :required => "required"
	.form-group
		= f.label :password, :class => "col-lg-2 control-label"
		.col-lg-10
			= f.password_field :password, :class => "form-control", :required => "required"
	= f.submit :create, :class => "btn pull-right"