%h1 Edit User
- if @user.errors.any?
	.alert.alert-danger
		=pluralize(@user.errors.count, "error")
		prohibited this post from being saved:
		%ul
			- @user.errors.full_messages.each do |msg|
				%li= msg

= semantic_form_for @user, :html => { :class => "form-horizontal" } do |f|
	= f.inputs do
		= f.input :employee_id
		= f.input :username
		= f.input :name
		= f.input :email
		= f.input :password
		= f.input :contact_number
		= f.input :person_type
		= f.input :park
		= f.input :date_of_birth, { :include_blank => true, :start_year => 1960, :end_day => Time.now }
		= f.input :date_joined, { :include_blank => true, :start_year => 1990, :end_day => Time.now }
		%h4 Address Details
		= f.input :street_number
		= f.input :street_name
		= f.input :suburb
		= f.input :state
		= f.input :postcode
		= f.input :avatar, as: :file

	= f.actions do
		= f.action :submit
		= f.action :cancel, :label => "Go Back"