%header
	%h2 Registered Users
%hr
%table.table.table-striped
	%tr
		%th Name
		%th Email
		%th Username
		%th Admin
		%th Date Joined
		%th.text-center Edit User
	- @users.each do |user|
		%tr
			%td= user.name
			%td= user.email
			%td= "@" + user.username
			- if user.admin
				%td Yes
			- else
				%td No
			%td= user.created_at.strftime("%m/%d/%Y")
			%td.text-center= link_to "Edit", edit_user_path(user)