%h2 User Profile

%p
	%strong ID:
	= @user.id
%p
	%strong User ID:
	-#= @user.employee_id
%p
	%strong Name:
	= @user.name
%p
	%strong Username:
	= @user.username
%p
	%strong Date of Birth:
	= @user.date_of_birth
%p
	%strong Occupation:
	-#= @user.person_type.name
%p
	%strong Park:
	=#= @user.park.name
%p
	%strong Address:
	= @user.street_number
	= @user.street_name
	= @user.suburb
	= @user.state
	= @user.postcode
	
= link_to "Edit", edit_user_path(@user)
- if current_user.try(:admin?)
	= link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }
= link_to "Back", users_path