.isotope-header.clearfix
	.pull-left
		%h2 My Sightings
	.pull-right
		%select#pest-filter.chosen-select
			%option All
			- @types.each do |type|
				%option
					= type.name
		= link_to "Create New Sighting", new_sighting_path, :class => "btn btn-primary"
%hr
.isotope
	- @sightings.each do |sighting|
		.col-md-3{ :class => " type-" + sighting.pest.pest_type.name.downcase.squish.gsub( /\s/, '_' ) }
			.isotope-item-wrapper
				.image
					.image-wrapper{:style => "background: " + image_path("temp-pest.jpg")}
					.overlay
						%h3= sighting.pest.name
					.text-right.button-container
						= link_to "Edit", edit_sighting_path(sighting), :class => "btn btn-default btn-xs"
						- if current_user.try(:admin?)
							= link_to "Delete", sighting_path(sighting), method: :delete, data: { confirm: "Are you sure you want to delete this sighting?" }, :class => "btn btn-danger btn-xs"
				%table.meta.table.table-striped
					%tr
						%td Pest Type
						%td= sighting.pest.pest_type.name
					%tr
						%td Quantity
						- if !sighting.quantity.nil?
							%td= sighting.quantity
						- else
							%td Not specified
					%tr
						%td Location
						%td= sighting.park.name
					%tr
						%td Area
						%td= sighting.park.area.name
					%tr
						%td Sighting Time
						- if !sighting.time_sighted.nil?
							%td= sighting.time_sighted
						- else
							%td Not specified
					%tr
						%td Further Information
						- if !sighting.information.empty?
							%td= sighting.information
						- else
							%td Not specified
					%tr
						%td Created By
						%td= "@" + sighting.user.username