%h2 User Profile
	%p
		%strong ID:
		= @user.id
	%p
		%strong User ID:
		= @user.user_id
	%p
		%strong Name:
		= @user.nam
	%p
		%strong Name:
		= @user.name
	%p
		%strong Name:
		= @user.name
	%p
		%strong Name:
		= @user.name
	%p
		%strong Name:
		= @user.name
	%p
		%strong Name:
		= @user.name
	
= link_to "Edit", edit_user_path(@user)
= link_to "Back", users_path