.row
	.col-xs-8
		%h1
			Hey there 
			= "@" + current_user.username + ","
			welcome to Trace!
		%h1
			Today there have been
			= @new_pests.length
			pests created and
			= @new_sightings.length
			sightings have added to the system.
		%h1
			There are currently
			= pluralize(@pests.length, "pest")
			recorded across the system over
			= pluralize(@sightings.length, "sighting")