.row
	#documentation-nav.col-md-3.col-md-offset-1
		%ul.nav.nav-stacked.side-nav.affix
			%li.dropdown
				= link_to 'Project Information', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Purpose', '#purpose'
					%li= link_to 'Conventions', '#conventions'
					%li= link_to 'Audience', '#audience'
					%li= link_to 'Scope', '#scope'
					%li= link_to 'Perspective', '#perspective'
					%li= link_to 'Functions', '#functions'
					%li= link_to 'Stakeholders', '#stakeholders'
					%li= link_to 'Operating Environment', '#operating'
					%li= link_to 'Constraints', '#constraints'
					%li= link_to 'Assumptions', '#assumptions'
					%li= link_to 'User Stories', '#stories'
					%li= link_to 'Non-Requirements', '#nonrequirements'
					%li= link_to 'Support Thesis', '#support'
					%li= link_to 'Installation Guide', '#installation'
			%li.dropdown
				= link_to 'Sprint Planning', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Methodology', '#methodology'
					%li= link_to 'Backlog', '#backlog'
					%li= link_to 'Releases', '#releases'
					%li= link_to 'Tasks', '#tasks'
					%li= link_to 'Allocation', '#allocation'
					%li= link_to 'Management', '#management'
					%li= link_to 'Updates', '#updates'
					%li= link_to 'Review', '#review'
					%li= link_to 'Tools', '#tools'
					%li= link_to 'Gantt Chart', '#gantt'
					%li= link_to 'Task Matrix', '#matrix'
			%li.dropdown
				= link_to 'Functional Requirements', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Functional Requirement 1', '#functionalrequirement1'
					%li= link_to 'Functional Requirement 2', '#functionalrequirement2'
					%li= link_to 'Functional Requirement 3', '#functionalrequirement3'
					%li= link_to 'Functional Requirement 4', '#functionalrequirement4'
					%li= link_to 'Functional Requirement 5', '#functionalrequirement5'
					%li= link_to 'Functional Requirement 6', '#functionalrequirement6'
					%li= link_to 'Functional Requirement 7', '#functionalrequirement7'
					%li= link_to 'Functional Requirement 8', '#functionalrequirement8'
			%li.dropdown
				= link_to 'Non-Functional Requirements', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Appearance', '#appearance'
					%li= link_to 'Usability', '#usability'
					%li= link_to 'Legal', '#legal'
					%li= link_to 'Performance', '#performance'
					%li= link_to 'Maintainability', '#maintainability'
					%li= link_to 'Security', '#security'
					%li= link_to 'Cultural', '#cultural'
					%li= link_to 'Environmental', '#environmental'
			%li.dropdown
				= link_to 'Conceptual Architecture', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Activity Diagrams', '#activitydiagram'
					%li= link_to 'Class Diagram', '#classdiagram'
					%li= link_to 'Collaboration Diagrams', '#collaborationdiagram'
					%li= link_to 'Dataflow Diagrams', '#dataflowdiagram'
					%li= link_to 'Deployment Diagram', '#deploymentdiagram'
					%li= link_to 'Entity-Relationship Diagram', '#entityrelationshipdiagram'
					%li= link_to 'Sequence Diagrams', '#sequencediagram'
					%li= link_to 'Use-Case Diagrams', '#usecasediagram'
			%li.dropdown
				= link_to 'User Interface Design', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Interface Design Thesis', '#interface'
					%li= link_to 'Wireframes', '#wireframes'
					%li= link_to 'Typography', '#typography'
					%li= link_to 'Colour', '#colour'
					%li= link_to 'Layout', '#layout'
					%li= link_to 'Visual Elements', '#elements'
					%li= link_to 'Accessibility', '#accessibility'
					%li= link_to 'Heuristic Evaluation', '#heuristics'
			%li.dropdown
				= link_to 'Implementation Architecture', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Platform', '#platform'
					%li= link_to 'Pattern', '#pattern'
					%li= link_to 'Languages', '#languages'
					%li= link_to 'Frameworks', '#frameworks'
					%li= link_to 'Deployment', '#deployment'
			%li.dropdown
				= link_to 'Database Design', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Database Thesis', '#database'
					%li= link_to 'Data Dictionary', '#dictionary'
					%li= link_to 'Schema', '#schema'
					%li= link_to 'Functional Dependencies', '#dependencies'
					%li= link_to 'Normalisation', '#normalisation'
					%li= link_to 'Relational Model', '#relational'
			%li.dropdown
				= link_to 'Testing and Implementation', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Testing Thesis', '#testing'
					%li= link_to 'Acceptance', '#acceptance'
					%li= link_to 'Integration', '#integration'
					%li= link_to 'Regression', '#regression'
					%li= link_to 'Stress', '#stress'
					%li= link_to 'Unit', '#unit'
					
	#documentation-content.col-md-6

		%h1 Project Information
		#purpose= render 'purpose'
		#conventions= render 'conventions'
		#audience= render 'audience'
		#scope= render 'scope'
		#perspective= render 'perspective'
		#functions= render 'functions'
		#stakeholders= render 'stakeholders'
		#operating= render 'operating'
		#constraints= render 'constraints'
		#assumptions= render 'assumptions'
		#stories= render 'stories'
		#nonrequirements= render 'nonrequirements'
		#support=render 'support'
		#installation=render 'installation'

		%hr
		
		%h1 Sprint Planning and Management
		#methodology= render 'methodology'
		#backlog= render 'backlog'
		#releases= render 'releases'
		#tasks= render 'tasks'
		#allocation= render 'allocation'
		#management= render 'management'
		#updates= render 'updates'
		#review= render 'review'
		#tools= render 'tools'
		#gantt
			%h2 Gantt Chart
			= image_tag "documentation/gantt.png", :href => image_path("documentation/gantt.png"), :href => image_path("documentation/gantt.png", :href => image_path("documentation/gantt.png"))
			.caption Gantt Chart
		#matrix
			%h2 Task Matrix
			= image_tag "documentation/matrix.png", :href => image_path("documentation/matrix.png")
			.caption Task Matrix
		
		%hr
		
		%h1 Functional Requirements
		#functionalrequirement1= render 'functionalrequirement1'
		#functionalrequirement2= render 'functionalrequirement2'
		#functionalrequirement3= render 'functionalrequirement3'
		#functionalrequirement4= render 'functionalrequirement4'
		#functionalrequirement5= render 'functionalrequirement5'
		#functionalrequirement6= render 'functionalrequirement6'
		#functionalrequirement7= render 'functionalrequirement7'
		#functionalrequirement8= render 'functionalrequirement8'
		
		%hr
		
		%h1 Non-Functional Requirements
		#appearance= render 'appearance'
		#usability= render 'usability'
		#legal= render 'legal'
		#performance= render 'performance'
		#maintainability= render 'maintainability'
		#security= render 'security'
		#cultural= render 'cultural'
		#environmental= render 'environmental'
		
		%hr
		
		%h1 Conceptual Architecture
		#activitydiagram
			%h2 Activity Diagrams
			= image_tag "documentation/activitydiagram/admin.jpg", :href => image_path("documentation/activitydiagram/admin.jpg")
			.caption Activity Diagram: Admin
			= image_tag "documentation/activitydiagram/ranger.jpg", :href => image_path("documentation/activitydiagram/ranger.jpg")
			.caption Activity Diagram: Ranger
			= image_tag "documentation/activitydiagram/reporting.jpg", :href => image_path("documentation/activitydiagram/reporting.jpg")
			.caption Activity Diagram: Reporting
		#classdiagram
			%h2 Class Diagram
			= image_tag "documentation/classdiagram.jpg", :href => image_path("documentation/classdiagram.jpg")
			.caption Class Diagram
		#collaborationdiagram
			%h2 Collaboration Diagrams
			= image_tag "documentation/collaborationdiagram/editaccount.jpg", :href => image_path("documentation/collaborationdiagram/editaccount.jpg")
			.caption Collaboration Diagram: Edit User Account
			= image_tag "documentation/collaborationdiagram/login.jpg", :href => image_path("documentation/collaborationdiagram/login.jpg")
			.caption Collaboration Diagram: User Login
			= image_tag "documentation/collaborationdiagram/report.jpg", :href => image_path("documentation/collaborationdiagram/report.jpg")
			.caption Collaboration Diagram: Generate Report
			= image_tag "documentation/collaborationdiagram/sighting.jpg", :href => image_path("documentation/collaborationdiagram/sighting.jpg")
			.caption Collaboration Diagram: Sighting Inquiry
		#dataflowdiagram
			%h2 Dataflow Diagrams
			= image_tag "documentation/dataflowdiagram/context.jpg", :href => image_path("documentation/dataflowdiagram/context.jpg")
			.caption Dataflow Diagram: Context Diagram
			= image_tag "documentation/dataflowdiagram/level1.jpg", :href => image_path("documentation/dataflowdiagram/level1.jpg")
			.caption Dataflow Diagram: Level 1
			= image_tag "documentation/dataflowdiagram/pest/level2.jpg", :href => image_path("documentation/dataflowdiagram/pest/level2.jpg")
			.caption Dataflow Diagram: Level 2 (Pest)
			= image_tag "documentation/dataflowdiagram/pest/level3inquiry.jpg", :href => image_path("documentation/dataflowdiagram/pest/level3inquiry.jpg")
			.caption Dataflow Diagram: Level 3 (Pest / Inquiry)
			= image_tag "documentation/dataflowdiagram/pest/level3record.jpg", :href => image_path("documentation/dataflowdiagram/pest/level3record.jpg")
			.caption Dataflow Diagram: Level 3 (Pest / Record)
			= image_tag "documentation/dataflowdiagram/pest/level3update.jpg", :href => image_path("documentation/dataflowdiagram/pest/level3update.jpg")
			.caption Dataflow Diagram: Level 3 (Pest / Update)
			= image_tag "documentation/dataflowdiagram/report/level2.jpg", :href => image_path("documentation/dataflowdiagram/report/level2.jpg")
			.caption Dataflow Diagram: Level 2 (Report)
			= image_tag "documentation/dataflowdiagram/report/level3generate.png", :href => image_path("documentation/dataflowdiagram/report/level3generate.png")
			.caption Dataflow Diagram: Level 3 (Report / Generate)
			= image_tag "documentation/dataflowdiagram/report/level3view.png", :href => image_path("documentation/dataflowdiagram/report/level3view.png")
			.caption Dataflow Diagram: Level 3 (Report / View)
			= image_tag "documentation/dataflowdiagram/user/level2.png", :href => image_path("documentation/dataflowdiagram/user/level2.png")
			.caption Dataflow Diagram: Level 2 (User)
			= image_tag "documentation/dataflowdiagram/user/level3login.png", :href => image_path("documentation/dataflowdiagram/user/level3login.png")
			.caption Dataflow Diagram: Level 3 (User / Login)
			= image_tag "documentation/dataflowdiagram/user/level3record.png", :href => image_path("documentation/dataflowdiagram/user/level3record.png")
			.caption Dataflow Diagram: Level 3 (User / Record)
			= image_tag "documentation/dataflowdiagram/user/level3update.png", :href => image_path("documentation/dataflowdiagram/user/level3update.png")
			.caption Dataflow Diagram: Level 3 (User / Update)
		#deploymentdiagram
			%h2 Deployment Diagram
			= image_tag "documentation/deploymentdiagram.png", :href => image_path("documentation/deploymentdiagram.png")
			.caption Deployment Diagram
		#entityrelationshipdiagram
			%h2 Entity-Relationship Diagram
			= image_tag "documentation/dataflowdiagram/user/level3update.png", :href => image_path("documentation/dataflowdiagram/user/level3update.png")
			.caption Entity-Relationship Diagram
		#sequencediagram
			%h2 Sequence Diagrams
			= image_tag "documentation/sequencediagram/accountmanage.jpg", :href => image_path("documentation/sequencediagram/accountmanage.jpg")
			.caption Sequence Diagram: Account Management
			= image_tag "documentation/sequencediagram/pestinquiry.jpg", :href => image_path("documentation/sequencediagram/pestinquiry.jpg")
			.caption Sequence Diagram: Pest Inquiry
			= image_tag "documentation/sequencediagram/pestrecord.jpg", :href => image_path("documentation/sequencediagram/pestrecord.jpg")
			.caption Sequence Diagram: Record Pest
			= image_tag "documentation/sequencediagram/pestupdate.jpg", :href => image_path("documentation/sequencediagram/pestupdate.jpg")
			.caption Sequence Diagram: Update Pest
			= image_tag "documentation/sequencediagram/report.jpg", :href => image_path("documentation/sequencediagram/report.jpg")
			.caption Sequence Diagram: Generate Report
			= image_tag "documentation/sequencediagram/sightinginquiry.jpg", :href => image_path("documentation/sequencediagram/sightinginquiry.jpg")
			.caption Sequence Diagram: Sighting Inquiry
			= image_tag "documentation/sequencediagram/sightingrecord.jpg", :href => image_path("documentation/sequencediagram/sightingrecord.jpg")
			.caption Sequence Diagram: Record Sighting
			= image_tag "documentation/sequencediagram/sightingupdate.jpg", :href => image_path("documentation/sequencediagram/sightingupdate.jpg")
			.caption Sequence Diagram: Update Sighting
			= image_tag "documentation/sequencediagram/userlogin.jpg", :href => image_path("documentation/sequencediagram/userlogin.jpg")
			.caption Sequence Diagram: User Login
			= image_tag "documentation/sequencediagram/userrecord.jpg", :href => image_path("documentation/sequencediagram/userrecord.jpg")
			.caption Sequence Diagram: Record User
		#usecasediagram
			%h2 Use-Case Diagrams
			= image_tag "documentation/usecasediagram/accountmanage.jpg", :href => image_path("documentation/usecasediagram/accountmanage.jpg")
			.caption Use-Case Diagram: Account Management
			= image_tag "documentation/usecasediagram/pestinquiry.jpg", :href => image_path("documentation/usecasediagram/pestinquiry.jpg")
			.caption Use-Case Diagram: Pest Inquiry
			= image_tag "documentation/usecasediagram/pestrecord.jpg", :href => image_path("documentation/usecasediagram/pestrecord.jpg")
			.caption Use-Case Diagram: Record Pest
			= image_tag "documentation/usecasediagram/pestupdate.jpg", :href => image_path("documentation/usecasediagram/pestupdate.jpg")
			.caption Use-Case Diagram: Update Pest
			= image_tag "documentation/usecasediagram/report.jpg", :href => image_path("documentation/usecasediagram/report.jpg")
			.caption Use-Case Diagram: Generate Report
			= image_tag "documentation/usecasediagram/sightinginquiry.jpg", :href => image_path("documentation/usecasediagram/sightinginquiry.jpg")
			.caption Use-Case Diagram: Sighting Inquiry
			= image_tag "documentation/usecasediagram/sightingrecord.jpg", :href => image_path("documentation/usecasediagram/sightingrecord.jpg")
			.caption Use-Case Diagram: Record Sighting
			= image_tag "documentation/usecasediagram/sightingupdate.jpg", :href => image_path("documentation/usecasediagram/sightingupdate.jpg")
			.caption Use-Case Diagram: Update Sighting
			= image_tag "documentation/usecasediagram/system.jpg", :href => image_path("documentation/usecasediagram/system.jpg")
			.caption Use-Case Diagram: System
			= image_tag "documentation/usecasediagram/userrecord.jpg", :href => image_path("documentation/usecasediagram/userrecord.jpg")
			.caption Use-Case Diagram: Record User

		%hr
		
		%h1 User Interface Design
		#interface= render 'interface'
		#wireframes
			%h2 Wireframes
			= image_tag "documentation/wireframes/account.png", :href => image_path("documentation/wireframes/account.png")
			.caption Wireframe: Account Management
			= image_tag "documentation/wireframes/home.png", :href => image_path("documentation/wireframes/home.png")
			.caption Wireframe: Pests overview
			= image_tag "documentation/wireframes/filter.png", :href => image_path("documentation/wireframes/filter.png")
			.caption Wireframe: Pests filter
			= image_tag "documentation/wireframes/single.png", :href => image_path("documentation/wireframes/single.png")
			.caption Wireframe: Pests entry
			= image_tag "documentation/wireframes/report.png", :href => image_path("documentation/wireframes/report.png")
			.caption Wireframe: Generate Report
			= image_tag "documentation/wireframes/sighting.png", :href => image_path("documentation/wireframes/sighting.png")
			.caption Wireframe: Create Sighting
		#typography= render 'typography'
		#colour= render 'colour'
		#layout= render 'layout'
		#elements= render 'elements'
		#accessibility= render 'accessibility'
		#heuristics= render 'heuristics'

		%hr

		%h1 Implementation Architecture
		#platform= render 'platform'
		#pattern= render 'pattern'
		#languages= render 'languages'
		#frameworks= render 'frameworks'
		#deployment= render 'deployment'

		%hr

		%h1 Database Design
		#database= render 'database'
		#dictionary
			%h2 Data Dictionary
			= image_tag "documentation/dictionary.png", :href => image_path("documentation/dictionary.png")
			.caption Data Dictionary
		#schema=render 'schema'
		#dependencies=render 'dependencies'
		#normalisation=render 'normalisation'
		#relational=render 'relational'

		%hr

		%h1 Testing and Implementation
		#testing=render 'testing'
		#acceptance=render 'acceptance'
		#integration=render 'integration'
		#regression=render 'regression'
		#stress=render 'stress'
		#unit=render 'unit'