#documentation.row
	#documentation-nav.col-md-3.col-md-offset-1
		%ul.nav.nav-stacked.side-nav.affix
			%li.dropdown
				= link_to 'Introduction', "#", "data-toggle" => "dropdown", :class => "dropdown-toggle"
				%ul.dropdown-menu
					%li= link_to 'Purpose', "#purpose"
					%li= link_to 'Conventions', "#conventions"
					%li= link_to 'Audience', "#audience"
					%li= link_to 'Scope', "#scope"
			%li= link_to 'Overall Description', "#description"
			%li= link_to 'Functional Requirements', "#functionalrequirements"
			%li= link_to 'Non-Functional Requirements', "#nonfunctionalrequirements"
			%li= link_to 'Testing and Implementation', "#systemdocumentation"
	#documentation-content.col-md-6{'data-spy' => "scroll", 'data-target' => "#documentation-nav"}
		#information
			%h1 Project Information
			#purpose= render 'purpose'
			#conventions= render 'conventions'
			#audience= render 'audience'
			#scope= render 'scope'
			#perspective= render 'perspective'
			#functions= render 'functions'
			#stakeholders= render 'stakeholders'
			#operating= render 'operating'
			#constraints= render 'constraints'
			#assumptions= render 'assumptions'
			#stories= render 'stories'
			#nonrequirements= render 'nonrequirements'
		%hr
		#sprints
			%h1 Sprint Planning and Management
			#backlog= render 'backlog'
			#releases= render 'releases'
			#tasks= render 'tasks'
			#allocation= render 'allocation'
			#management= render 'management'
			#updates= render 'updates'
			#review= render 'review'
			#tools= render 'tools'
		#functionalrequirements
			%h1 Functional Requirements
			#functionalrequirement1= render 'functionalrequirement1'
			#functionalrequirement2= render 'functionalrequirement2'
			#functionalrequirement3= render 'functionalrequirement3'
			#functionalrequirement4= render 'functionalrequirement4'
			#functionalrequirement5= render 'functionalrequirement5'
			#functionalrequirement6= render 'functionalrequirement6'
			#functionalrequirement7= render 'functionalrequirement7'
			#functionalrequirement8= render 'functionalrequirement8'
		%hr
		#nonfunctionalrequirements
			%h1 Non-Functional Requirements
			#appearance= render 'appearance'
			#usability= render 'usability'
			#legal= render 'legal'
			#performance= render 'performance'
			#maintainability= render 'maintainability'
			#security= render 'security'
			#cultural= render 'cultural'
			#environmental= render 'environmental'
		%hr
		#conceptualarchitecture
			%h1 Conceptual Architecture
			#activitydiagram
				%h2 Activity Diagram
			#classdiagram
				%h2 Class Diagram
			#collaborationdiagram
				%h2 Collaboration Diagram
			#dataflowdiagram
				%h2 Dataflow Diagram
			#deploymentdiagram
				%h2 Deployment Diagram
			#entityrelationshipdiagram
				%h2 Entity-Relationship Diagram
			#sequencediagram
				%h2 Sequence Diagram
			#usecasediagram
				%h2 Use-Case Diagram
			#datadictionary
				%h2 Data Dictionary
		%hr
		#implementationarchitecture
			%h1 Implementation Architecture
			#platform= render 'platform'
			#pattern= render 'pattern'
			#languages= render 'languages'
			#frameworks= render 'frameworks'
			#deployment= render 'deployment'
		%hr
		#userinterfacedesign
			%h1 User Interface Design

		#userdocumentation= render 'userdocumentation'