- if @report.errors.any?
	#errorExplanation
		%h2
			=pluralize(@report.errors.count, "error")
			prohibited this post from being saved:
		%ul
			- @report.errors.full_messages.each do |msg|
				%li= msg

= form_for @report do |f|
	%p
		= f.label :start_date
		%br
		-#= f.text_field :start_date
	%p
		= f.label :end_date
		%br
		-#= f.text_field :end_date
		-# these variables are yet to be made
	%p
		= f.submit