%header.clearfix
	.pull-left
		%h2 Generated Reports
	.pull-right
		= link_to "Generate Report", new_report_path, :class => "btn btn-primary"
%hr
%table.table.table-striped
	%thead
		%tr
			%th Report ID
			%th Name
			%th Created by
			%th Created on
	%tbody
		- @reports.each do |report|
			%tr
				%td= link_to report.id, report_path(report)
				%td= report.name
				%td= report.user.name
				%td= report.created_at.strftime("%m/%d/%Y")