%header.clearfix
	.pull-left
		%h2 Report Detail
	.pull-right
		%select#pest-filter.chosen-select
			%option All
			- @types.each do |type|
				%option
					= type.name

%hr

%h3
	= pluralize(@sightings.length, "sighting was", "sightings were")
	reported within this time range in the following
	= pluralize(@report.area_ids.length, "area") + ":"
%h4
	%ul
		- @report.areas.each do |area|
			%li= area.name

%hr

= render :partial => 'sightings/sighting_feed'