!!!
%html{lang: "en"}
	%head
		%title Trace
		%meta{charset: "utf-8"}
		%meta{content: "", name: "description"}
		%meta{content: "", name: "author"}
		%meta{content: "", name: "designer"}
		%meta{content: "index, follow", name: "robots"}
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
		%meta{content: "general", name: "rating"}
		%meta{content: "", name: "keywords"}
		%meta{content: "true", name: "HandheldFriendly"}
		%meta{content: "320", name: "MobileOptimized"}
		%meta{content: "yes", name: "apple-mobile-web-app-capable"}
		%meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}
		%meta{content: "telephone=yes", name: "format-detection"}
		%meta{content: "website", property: "og:type"}
		%meta{content: "", property: "og:title"}
		%meta{content: "", property: "og:url"}
		%meta{content: "", property: "og:description"}
		%meta{content: "", property: "og:image"}
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}

		%link{href: "", rel: "shortcut icon"}
		%link{href: "", rel: "apple-touch-icon-precomposed"}

		%link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet"}

		%link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet", rel: "stylesheet"}

		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body{:class => params[:controller]}

		%nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					%button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					- if user_signed_in?
						= link_to welcome_index_path, :controller => "welcome", :class => "navbar-brand" do
							= image_tag "logo.png", :class => "logo"
							Trace
					- else
						= link_to root_url, :controller => "landing", :class => "navbar-brand" do
							= image_tag "logo.png", :class => "logo"
							Trace
				.collapse.navbar-collapse.navbar-ex1-collapse
					%ul.nav.navbar-nav
						%li{class: ('active' if params[:controller] == 'sightings')}
							= link_to "Sightings", sightings_path
						%li{class: ('active' if params[:controller] == 'pests')}
							= link_to "Pests", pests_path
						- if user_signed_in?
							%li{class: ('active' if params[:controller] == 'reports')}
								= link_to "Reports", reports_path
						- if current_user.try(:admin?)
							%li{class: ('active' if params[:controller] == 'users')}
								= link_to "Users", controller: "users"
					%ul.nav.navbar-nav.navbar-right
						- if user_signed_in?
							%li.dropdown
								%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
									= image_tag("temp-user.jpg", :class => "user-image")
									= "@" + current_user.username
									%b.caret
								%ul.dropdown-menu
									%li
										%a{href: "#"} My Profile
									%li
										= link_to "Account Settings", edit_user_path(@user), controller: "users"
									%li
										%a{href: "#"} Help and Support
									%li
										= link_to "Sign Out", destroy_user_session_path, method: :delete
						- else
							%li.dropdown
								= link_to "Sign In", new_user_session_path

		#container.container
			= if !notice.nil?
				%p.notice
					= notice
			- if !alert.nil?
				.alert.alert-danger
					= alert
			= yield

		%footer
			.container
				.pull-left
					%p
						Made with love by
						= linkTo "https://twitter.com/haydenbleasel", "Hayden Bleasel"
						and Daniel Lekic.
				.pull-right
					= link_to "Documentation", "documentation/index"